$bg-color: #fff;
$primary-color: #d1b200;
$secondary-color: #fff;
$dark-color: #2e2929;
$light-color: #ddd9d9;
$danger-color: #da2525;
$success-color: #25da5b;
$max-width: 1100px;

// set text color based on background
// using lightness function to test lightness of a color
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return #333;
  } @else {
    @return #fff;
  }
}

// set background color & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}

// margin & padding
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  // around margin
  .m-#{$space} {
    margin: #{$space}rem;
  }

  // vertical margin
  .my-#{$space} {
    margin: #{$space}rem 0;
  }

  // around padding
  .p-#{$space} {
    padding: #{$space}rem;
  }

  // vertical padding
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
}
