@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import '../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import 'config';
@import 'utilities';
@import 'form';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
}

h1 {
  font-size: 30px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.line {
  height: 1px;
  background: #ddd;
  margin: 1rem 0;
}

//navbar
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0.5rem 1.5rem;

  h1 {
    width: 40%;
    font-size: 30px;
    color: #333;
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $secondary-color;

    &:hover {
      color: $primary-color;
    }
  }

  ul {
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

//landing
.landing {
  position: relative;
  background: url('../images/showcase.jpg') no-repeat center center/cover;
  height: 100vh; /* stretch img to entire height of browser*/

  &-inner {
    color: $secondary-color;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    text-align: center;
  }
}

//profile
.profile {
  display: flex;
  max-width: 600px;
  margin: 20px auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  line-height: 1.8;
  font-size: 14px;

  img {
    width: 30%;
  }

  &-info {
    width: 50%;
    margin-right: auto;
    margin-left: 20px;
  }

  h2 {
    font-size: 1.2rem;
  }
}

// profile
.profile-grid {
  display: grid;
  grid-template-areas: 'contact contact' 'bio bio' 'exp edu';
  grid-gap: 1rem;
}

.profile-contact {
  grid-area: contact;
  display: flex;
  flex-direction: column;
  align-items: center;

  .social-icons {
    display: flex;
    justify-content: space-around;
    width: 135px;

    a {
      color: #fff;
      font-size: 1.5rem;

      &:hover {
        color: $dark-color;
      }
    }
  }
}

.profile-bio {
  grid-area: bio;
  text-align: center;

  .skills {
    display: flex;
    justify-content: space-around;
    width: 252px;
    margin: 1rem auto;
  }
}

.profile-exp {
  grid-area: exp;
}

.profile-edu {
  grid-area: edu;
}

.profile-exp,
.profile-edu {
  & > div {
    border-bottom: 1px solid #bbb;
  }

  & :last-child {
    border: none;
  }

  p {
    margin: 0.5rem 0;
  }
}
